<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
">
    
<bean id="user" class="pl.pawc.model.User">
        <property name="login" value="pawc"/>
        <property name="location" value="Kielce"/>
        <property name="email" value="pswid89@gmail.com"/>
        <property name="hashedPass" value="abc123"/>
</bean>

</beans>
